/* SUBMISSION */
button:focus {
    outline: 0 !important;;
}

.btn {
    background: linear-gradient(#758fff, #0d324e);
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-lg {
    padding-bottom: 15px !important;
    position: relative;
    top: 9px;
}

#info-submit {
    width: 100px;
    height: 100%;
    font-size: 16px;
    background: linear-gradient(#979bc2, #532e69, #271c34);
    color: white;
    border: none;
    white-space: normal;
}

#form-submit {
    width: 100%;
    height: 3em;
    font-size : 16px;
    background: linear-gradient(#758fff, #0d324e);
    color: white;
    border: none;
    border-radius: 10px;
}

/* HEADER AND FOOTER */
#footer {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 14px;
}

#menu-item {
    cursor: pointer;
}

#mini-icon {
    font-size: 14px !important;
}

#small-icon {
    font-size: 16px !important;
}

#medium-icon {
    font-size: 18px !important;
}

#large-icon {
    font-size: 20px !important;
    position: relative;
    top: 3px;
}

.navbar-brand {
    color: white !important;
}

.navbar-default {
    font-family: 'Quicksand', sans-serif;
    font-size : 16px;
    background: linear-gradient(#081824, #1a4a77, #758fff);
}

#custom-navbar a, #custom-navbar button {
    color: white;
    font-size : 16px;
    font-family: 'Quicksand', sans-serif;
}

#custom-navbar button:hover, #custom-navbar button:focus {
    background: #758fff;
    color: white;
}

#logo {
    width: 150px;
    height: 75px;
    position: relative;
    top: 7px;
}

/* BODY */

img {
    border: 1px solid white !important;
}

.img-noborder {
    border: none !important;
}

#playing-card {
    border-radius: 5%;
    border: 1px solid white !important;
    width: 150px;
    background-image: url("card.jpg");
}

#title {
    color: #758fff !important;
}

h2 {
    color: #758fff !important;
    font-size: 28px !important;
}

h2 p {
    color: #758fff !important;
    font-size: 28px !important;
}

h3 {
    color: #758fff !important;
    font-size: 22px !important;
}

h4 {
    color: white !important;
    font-size: 16px !important;
}

p {
    color: white !important;
}

.well {
    background: #0d0e0f !important;
    color: white;
    border-radius: 10px !important;
}

#black-well {
    background: black !important;
    color: white;
}

.grey-well {
    color: white;
    background: #24282c !important;
    border-style: solid;
    border-color:white;
    border-width:1px;
    border-radius: 10px;
    color: white;
    position: relative;
    left: -16px;
    top: -10px;
    width: 105%;
    padding-bottom: 10px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

#status {
    position: relative;
    left: 16px;
    top: 5px;
    overflow-wrap: break-word;
    width: 85%;
}

#chat-history {
    position: relative;
    left: 16px;
    top: 5px;
    overflow-wrap: break-word;
    width: 85%;
}

#content {
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    background-repeat: repeat;
    min-height: 100%;
}

#content a, p a {
    color: #587bd7;
    text-decoration: underline;
}

#content a:hover, p a:hover {
    color: #758fff;
    text-decoration: underline;
}

#input-field-bar {
    background-color: #24282c !important;
    color: white;
    width:100%;
    border: 1px solid white !important;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    bottom: 5px;
}

#input-field {
    width: 100%;
    background-color: #24282c;
    color: white;
    border: 2px solid #24282c;
    font-size: 14px !important;
}
